#journal-card{
    width: 300px;
    height: 180px;
    
    border-radius: 10px ;
    margin: 5px;
    transition: all 400ms ease-in-out;
    border: 1px solid grey;
    overflow: hidden;
}

#journal-card:hover{
    border: 1px solid whitesmoke;
    color: rgba(255, 255, 255, 0.3);
}

#journal-card img{
    transition: all 350ms ease-in-out;
    width: 350px;
    height: 210px;
    position: relative;
    opacity: 40%;
}

#journal-card img:hover{
    opacity: 100%;
}
#journal-card-title{
    z-index: 10;
    height: 0%;
    position: relative;
    top:40px;

    font-size: 30px;
    font-family: "K2D", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 15px;
    /* font-weight: bold; */
}
#journal-card-content{
    z-index: 10;
    
    height: 0%;
    position: relative;
    top: 80px;

    font-family: "K2D", sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 15px;
    /* color: rgb(209, 209, 209); */


}
#jorunal-card-info{
    transition: all 400ms ease-in-out;
    color: rgb(192, 192, 192);
}
#jorunal-card-info:hover{
    color: whitesmoke;
}