#movenext {
    display: flex;
    justify-content: center;

}



#movenext a{
    display: flex;
    justify-content: center;
    align-items: center;
}

#movenext img{
    
    height: 65px;
    /* border: 1px solid purple; */
    margin-bottom: 30px;
    position: absolute;
    bottom: 0%;
    opacity: 90%;
}



#movenext-intro{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

#movenext-intro img{
    height: 60px;
    opacity: 90%;
}

#movenext-prog{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

#movenext-prog img{
    height: 80px;
    opacity: 90%;
}


#movenext-team{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#movenext-team img{
    height: 80px;
    opacity: 90%;
    margin-top: -35px;
}