#project-card{
    width: 350px;
    height: 210px;
    
    border-radius: 10px ;
    margin: 5px;
    transition: all 400ms ease-in-out;
    border: 1px solid grey;
    overflow: hidden;
}

#project-card:hover{
    border: 1px solid whitesmoke;
    color: rgba(255, 255, 255, 0.3);
}

#project-card img{
    width: 350px;
    height: 210px;
    position: relative;
}

#prog-card-title{
    z-index: 10;
    height: 0%;
    position: relative;
    top: 100px;

    font-size: 35px;
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
    margin-left: 15px;
}
#prog-card-con{
    z-index: 10;
    
    height: 0%;
    position: relative;
    top: 140px;

    font-family: "K2D", sans-serif;
    font-weight: 400;
    font-style: italic;
    margin-left: 15px;
}